* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;}

body{
    background-color: snow;
}
header {
    background-color: #3663c9;
    display: flex;
    color: gold;
}
a {
    color: snow;
}

#logo {
    width: 23em;
}

#products {
    margin: 2em;
    margin-left: 10em;
    font-size: 20px;
}

#visit {
    margin: 2em;
    margin-left: 10em;
    font-size: 20px;
}
#contact {
    margin: 2em;
    margin-left: 10em;
    font-size: 20px;
}
#center {
    width: fit-content;
    height: fit-content;
    padding: 1rem 1rem;
    margin: 5em auto 0;
    border-radius: 1em;
    background-color: #3663c9;
}
